main{
    display: flex;
    justify-content: center;
    align-items: center;
}
form h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #4CAF50;
    text-align: center;
}
select, textarea, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

select:focus, textarea:focus, button:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo das opções de input */
select {
    height: 44px;
}

textarea {
    resize: vertical;
}

/* Botão */
button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo das labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #555;
}

